<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Esqueci a Senha</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <div class="container">
        <h2>Esqueci a Senha</h2>

        {# Bloco para exibir mensagens flasheadas #}
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="flash-message {{ category }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        {% endwith %}
        {# Fim do bloco de mensagens #}

        <form method="POST">
            <input type="email" name="email" placeholder="Seu e-mail cadastrado" required>
            <button type="submit">Enviar Link de Redefinição</button>
        </form>
        <p style="color: #f9f9f9; text-align: center;">Lembrou da senha? <a href="{{ url_for('login') }}">Voltar para o Login</a></p>
    </div>
</body>

</html>